<header>
    <div class="header-top">
        <div class="header-top-wrapper grid container">
            <div class="header__logo">
                <a class="nav-item--link pl-20 pr-20 relative" href="../home.hbs" class="header-logo--link">
                    <img class="header-logo--img" src="/img/logo/logo-red.webp" alt="">
                </a>
            </div>
            <div class="header__nav">
                <nav class="nav">
                    <ul class="nav-list flex">
                        <li class="nav-item">
                            <a class="nav-item--link pl-20 pr-20 relative" href="../home.hbs">trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item--link pl-20 pr-20 relative">nam</a>
                            <ul class="sub-nav base absolute start-0">
                                <li class="sub-nav-wrapper">
                                    <ul class="sub-nav-list grid">
                                        <li class="sub-nav-item">
                                            <a class="sub-nav--link pb-10 pt-10">giày thể thao nam</a>
                                            <ul class="mega-sub-nav">
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">giày bóng rổ
                                                        nam</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">giày chạy bộ
                                                        nam</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">giày đá banh
                                                        nam</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">dép thể thao
                                                        nam</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="sub-nav-item">
                                            <a class="sub-nav--link pb-10 pt-10">quần áo thể thao nam</a>
                                            <ul class="mega-sub-nav">
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">áo thể thao
                                                        nam</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">quần thể thao
                                                        nam</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">bộ quần áo thể
                                                        thao
                                                        nam</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="sub-nav-item">
                                            <a class="sub-nav--link pb-10 pt-10">phụ kiện</a>
                                            <ul class="mega-sub-nav">
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">túi - balo</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">mũ</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">đồ bảo hộ</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">tất thể thao</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-banner relative">
                                    <div class="nav-banner-item">
                                        <img class="nav-banner-img radius-2" src="/img/banner/subnav_men1.webp" alt="">
                                    </div>
                                    <div class="nav-banner__title white-text absolute flex">
                                        Hàng mới về
                                        <div class="banner-title__icon radius-2 base flex">
                                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_2685_5019)">
                                                    <path
                                                        d="M17.3334 10.7502L21.7778 14.3058L20.6676 15.6942L16.2231 12.1387L17.3334 10.7502Z"
                                                        fill="#66707A">
                                                    </path>
                                                    <path
                                                        d="M14.1112 19.4446H0.777832V10.5557H14.1112V12.3334H2.55561V17.6668H14.1112V19.4446Z"
                                                        fill="#66707A">
                                                    </path>
                                                    <path
                                                        d="M12.3335 28.4231V21.2222H14.1113V24.688L26.0348 15L14.1113 5.31202V8.77779H12.3335V1.5769L28.8544 15L12.3335 28.4231Z"
                                                        fill="#66707A"></path>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_2685_5019">
                                                        <rect x="0.777832" y="0.777832" width="28.4444" height="28.4444"
                                                            rx="2" fill="white"></rect>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                    </div>
                                    <a class="absolute top-0 bottom-0 start-0 end-0" href=""></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item--link pl-20 pr-20 relative">nữ</a>
                            <ul class="sub-nav base absolute start-0">
                                <li class="sub-nav-wrapper">
                                    <ul class="sub-nav-list grid">
                                        <li class="sub-nav-item">
                                            <a class="sub-nav--link pb-10 pt-10">giày thể thao nữ</a>
                                            <ul class="mega-sub-nav">
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">giày bóng rổ
                                                        nữ</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">giày chạy bộ
                                                        nữ</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">giày đá banh
                                                        nữ</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">dép thể thao
                                                        nữ</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="sub-nav-item">
                                            <a class="sub-nav--link pb-10 pt-10">quần áo thể thao nữ</a>
                                            <ul class="mega-sub-nav">
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">áo thể thao nữ</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">quần thể thao
                                                        nữ</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">bộ quần áo thể
                                                        thao
                                                        nữ</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="sub-nav-item">
                                            <a class="sub-nav--link pb-10 pt-10">phụ kiện</a>
                                            <ul class="mega-sub-nav">
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">túi - balo</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">mũ</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">đồ bảo hộ</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">tất thể thao</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-banner relative">
                                    <div class="nav-banner-item">
                                        <img class="nav-banner-img radius-2" src="/img/banner/subnav_men1.webp" alt="">
                                    </div>
                                    <div class="nav-banner__title white-text absolute flex">
                                        Hàng mới về
                                        <div class="banner-title__icon radius-2 base flex">
                                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_2685_5019)">
                                                    <path
                                                        d="M17.3334 10.7502L21.7778 14.3058L20.6676 15.6942L16.2231 12.1387L17.3334 10.7502Z"
                                                        fill="#66707A">
                                                    </path>
                                                    <path
                                                        d="M14.1112 19.4446H0.777832V10.5557H14.1112V12.3334H2.55561V17.6668H14.1112V19.4446Z"
                                                        fill="#66707A">
                                                    </path>
                                                    <path
                                                        d="M12.3335 28.4231V21.2222H14.1113V24.688L26.0348 15L14.1113 5.31202V8.77779H12.3335V1.5769L28.8544 15L12.3335 28.4231Z"
                                                        fill="#66707A"></path>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_2685_5019">
                                                        <rect x="0.777832" y="0.777832" width="28.4444" height="28.4444"
                                                            rx="2" fill="white"></rect>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                    </div>
                                    <a class="absolute top-0 bottom-0 start-0 end-0" href=""></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item--link pl-20 pr-20 relative">trẻ em</a>
                            <ul class="sub-nav base absolute start-0">
                                <li class="sub-nav-wrapper">
                                    <ul class="sub-nav-list grid">
                                        <li class="sub-nav-item">
                                            <a class="sub-nav--link pb-10 pt-10">giày thể thao trẻ em</a>
                                            <ul class="mega-sub-nav">
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">giày bóng rổ trẻ
                                                        em</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">giày chạy bộ trẻ
                                                        em</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">giày đá banh trẻ
                                                        em</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">dép thể thao trẻ
                                                        em</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="sub-nav-item">
                                            <a class="sub-nav--link pb-10 pt-10">quần áo thể thao trẻ em</a>
                                            <ul class="mega-sub-nav">
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">áo thể thao trẻ
                                                        em</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">quần thể thao trẻ
                                                        em</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">bộ quần áo thể
                                                        thao
                                                        trẻ
                                                        em</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="sub-nav-item">
                                            <a class="sub-nav--link pb-10 pt-10">phụ kiện</a>
                                            <ul class="mega-sub-nav">
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">túi - balo</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">mũ</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">đồ bảo hộ</a>
                                                </li>
                                                <li class="mega-sub-nav-item">
                                                    <a class="mega-sub-nav--link pb-10 pt-10" href="">tất thể thao</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-banner relative">
                                    <div class="nav-banner-item">
                                        <img class="nav-banner-img radius-2" src="/img/banner/subnav_men1.webp" alt="">
                                    </div>
                                    <div class="nav-banner__title white-text absolute flex">
                                        Hàng mới về
                                        <div class="banner-title__icon radius-2 base flex">
                                            <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_2685_5019)">
                                                    <path
                                                        d="M17.3334 10.7502L21.7778 14.3058L20.6676 15.6942L16.2231 12.1387L17.3334 10.7502Z"
                                                        fill="#66707A">
                                                    </path>
                                                    <path
                                                        d="M14.1112 19.4446H0.777832V10.5557H14.1112V12.3334H2.55561V17.6668H14.1112V19.4446Z"
                                                        fill="#66707A">
                                                    </path>
                                                    <path
                                                        d="M12.3335 28.4231V21.2222H14.1113V24.688L26.0348 15L14.1113 5.31202V8.77779H12.3335V1.5769L28.8544 15L12.3335 28.4231Z"
                                                        fill="#66707A"></path>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_2685_5019">
                                                        <rect x="0.777832" y="0.777832" width="28.4444" height="28.4444"
                                                            rx="2" fill="white"></rect>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                    </div>
                                    <a class="absolute top-0 bottom-0 start-0 end-0" href=""></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item--link pl-20 pr-20 relative" href="">hệ thống cửa hàng</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__items height flex">
                <div class="header-item__search">
                    <form class="search--form" action="" role="search" method="get">
                        <div class="search relative">
                            <svg class="search--icon absolute" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 51.539 51.361"
                                width="20" height="20" xml:space="preserve">
                                <path
                                    d="M51.539,49.356L37.247,35.065c3.273-3.74,5.272-8.623,5.272-13.983c0-11.742-9.518-21.26-21.26-21.26 S0,9.339,0,21.082s9.518,21.26,21.26,21.26c5.361,0,10.244-1.999,13.983-5.272l14.292,14.292L51.539,49.356z M2.835,21.082 c0-10.176,8.249-18.425,18.425-18.425s18.425,8.249,18.425,18.425S31.436,39.507,21.26,39.507S2.835,31.258,2.835,21.082z">
                                </path>
                            </svg>
                            <input class="search-input pl-20 pr-20 pb-10 pt-10" type="search" placeholder="Tìm kiếm"
                                autocomplete="off" name="s">
                        </div>
                    </form>
                </div>
                <span class="header-item__cart">
                    <a class="item-cart--link pl-20 pr-20" href="">
                        <svg class="item-cart--icon" viewBox="0 0 576 512" aria-hidden="true" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                            <path fill="none" d="M0 0h576v512H0z"></path>
                            <path
                                d="M181.54 409.6c-29.249 0-52.914 23.04-52.914 51.2 0 28.16 23.665 51.2 52.915 51.2 29.249 0 53.18-23.04 53.18-51.2 0-28.16-23.931-51.2-53.18-51.2zM22 0v51.2h53.18l95.725 194.304-35.897 62.464C115.598 342.272 141.124 384 181.54 384h319.08v-51.2h-319.08l29.249-51.2h198.096c19.943 0 37.492-10.496 46.533-26.368L550.61 89.088c9.838-16.896-2.925-37.888-23.133-37.888H133.944L108.95 0H22zm425.442 409.6c-29.25 0-52.915 23.04-52.915 51.2 0 28.16 23.665 51.2 52.915 51.2 29.249 0 53.18-23.04 53.18-51.2 0-28.16-23.931-51.2-53.18-51.2z">
                            </path>
                        </svg>
                    </a>

                    <div class="item-cart-content base absolute">
                        <div class="cart-notification--success">
                            <span class="cart-notification--icon">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    class="icon icon-tabler icon-tabler-circle-check-filled" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path
                                        d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                                        stroke-width="0" fill="currentColor"></path>
                                </svg>
                            </span>
                            <p class="cart-notification--text p-10">Sản phẩm đã được thêm vào giỏ hàng.</p>
                        </div>

                        <div class="cart-notification">
                            <p class="cart-notification--message p-10">Chưa có sản phẩm trong giỏ hàng.</p>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="header-bottom base pt-10 pb-10">
        <div class="header-bottom-wrapper container flex">
            <div class="free-shipping header-bottom-list flex">
                <div class="free-shipping--icon header-bottom--icon pr-10">
                    <svg aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 16 16" style="width: 15px;height: 15px;">
                        <path
                            d="M15.64 6.92L9.5 5.12V4a.5.5 0 00-.5-.5H1a.5.5 0 00-.5.5v8.5c0 .28.22.5.5.5h1.27a2.1 2.1 0 004.06 0h3.94a2.1 2.1 0 004.06 0h1.17a.5.5 0 00.5-.5V7.4a.5.5 0 00-.36-.48zM4.3 13.6a1.1 1.1 0 110-2.2 1.1 1.1 0 010 2.2zM6.33 12a2.1 2.1 0 00-4.06 0H1.5V4.5h7V12H6.33zm5.97 1.6a1.1 1.1 0 110-2.2 1.1 1.1 0 010 2.2zM15 12h-.67a2.1 2.1 0 00-4.06 0H9.5V6.17l5.5 1.6V12z">
                        </path>
                    </svg>
                </div>
                <p class="free-shipping--content header-bottom--content">
                    Miễn phí giao hàng đơn từ 799k
                </p>
            </div>

            <a href="" class="return-policy header-bottom-list flex">
                <div class="return-policy--icon header-bottom--icon pr-10">
                    <svg class="cc-icon cc-icon--box" aria-hidden="true" focusable="false" role="presentation"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" style="width: 15px;height: 15px;">
                        <path
                            d="M14.41 3.37L8.27 1.41a1 1 0 00-.61 0L1.52 3.37a1 1 0 00-.7.95v7.86c0 .41.25.78.63.93l6.14 2.46c.24.1.5.1.75 0l6.14-2.46a1 1 0 00.62-.93V4.32a1 1 0 00-.69-.95zM7.96 2.36l6.05 1.93-2.7.9L5.35 3.2l2.63-.84zm-.46 12.1l-5.68-2.28V5.3L7.5 7.2v7.26zM8 6.3L1.96 4.28l2.58-.82 5.99 2L8 6.3zm6.1 5.89l-5.6 2.24V7.19l5.6-1.87v6.87z">
                        </path>
                    </svg>
                </div>
                <p class="return-policy--content header-bottom--content">
                    Miễn phí đổi trả đến 30 ngày
                </p>
            </a>

            <div class="genuine-promise  header-bottom-list flex">
                <div class="genuine-promise--icon header-bottom--icon pr-10">
                    <svg class="cc-icon cc-icon--check_mark" aria-hidden="true" focusable="false" role="presentation"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" style="width: 15px;height: 15px;">
                        <path fill-rule="evenodd"
                            d="M14.441 3.733a.5.5 0 010 .707l-7.94 7.94a.5.5 0 01-.707 0L2.52 9.105a.5.5 0 11.707-.707l2.922 2.922 7.586-7.587a.5.5 0 01.707 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div>
                <p class="genuine-promise--content header-bottom--content">
                    Cam kết 100% chính hãng
                </p>
            </div>

            <a class="installment-zero  header-bottom-list flex">
                <div class="installment-zero--icon header-bottom--icon pr-10">
                    <svg class="cc-icon cc-icon--price_tag" aria-hidden="true" focusable="false" role="presentation"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" style="width: 15px;height: 15px;">
                        <path
                            d="M7.59 1.34a1 1 0 01.7-.29h5.66a1 1 0 011 1v5.66a1 1 0 01-.3.7L7.6 15.5a1 1 0 01-1.42 0L.52 9.83a1 1 0 010-1.42l7.07-7.07zm6.36 6.37l-7.07 7.07-5.66-5.66L8.3 2.05h5.66v5.66z"
                            fill-rule="evenodd"></path>
                        <path d="M9.7 6.3a1 1 0 101.42-1.42 1 1 0 00-1.41 1.41zM9 7a2 2 0 102.83-2.83A2 2 0 009 7z"
                            fill-rule="evenodd">
                        </path>
                    </svg>
                </div>
                <p class="installment-zero--content header-bottom--content">
                    Trả góp 0%
                </p>
            </a>
        </div>
    </div>
</header>