<div class="wrapper container pt-20">
    <div class="products-filter">
        <div class="products-filter-list mt-20">
            <div class="products-filter-title relative radius-2 p-10 base pointer">
                <p class="products-filter-title--text">
                    giới tính
                </p>
            </div>
            <div class="products-filter-content">
                <ul class="products-filter-item-list flex pr-10 pl-10 pt-10">
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">nam</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">nữ</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">trẻ em</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="products-filter-list mt-20">
            <div class="products-filter-title relative radius-2 p-10 base pointer">
                <p class="products-filter-title--text">
                    loại sản phẩm
                </p>
            </div>
            <div class="products-filter-content">
                <ul class="products-filter-item-list flex pr-10 pl-10 pt-10">
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">giày bóng rổ</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">giày chạy bộ</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">giày đá banh</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">giày thể thao</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">dép bóng rổ</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">dép chạy bộ</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">dép đá banh</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">dép thể thao</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">áo bóng rổ</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">áo chạy bộ</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">áo đá banh</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">áo thể thao</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">quần bóng rổ</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">quần chạy bộ</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">quần đá banh</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">quần thể thao</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">mũ</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">balo</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">vớ</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">đồ bảo hộ</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="products-filter-list mt-20">
            <div class="products-filter-title relative radius-2 p-10 base pointer">
                <p class="products-filter-title--text">
                    thương hiệu
                </p>
            </div>
            <div class="products-filter-content">
                <ul class="products-filter-item-list flex pr-10 pl-10 pt-10">
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">under armour</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">nike</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">adidas</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">puma</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                    <li class="products-filter-item">
                        <input type="checkbox" class="products-filter-option-box pointer">
                        <span class="products-filter-option-value">hoka</span>
                        <span class="products-filter-option-quanlity" aria-label="Number of product: ">(321)</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="products-filter-list mt-20">
            <div class="products-filter-title relative radius-2 p-10 base pointer">
                <p class="products-filter-title--text">
                    giá
                </p>
            </div>
            <div class="slide-range pt-20">
                <div class="price-info pb-10 flex">
                    <span>0 đồng</span>
                    <span>10 triệu đồng</span>
                </div>
                <input type="range" min="0" max="10000000" value="0" class="custom-range pointer">
                <div class="price-display mt-10">
                    <span class="price-label">Giá: <span class="priceValue">0 VND</span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="products-list grid mt-20">
        <a class="product-item ml-40 mb-20">
            <div class="product-item-img">
                <img class="item--img" src="img/products/001/GCNKBK-001/GCNKBK-001-1.webp" alt="">
            </div>
            <div class="product-item-content">
                <h2 class="item-name mt-5">
                    Giày Chạy Bộ Trẻ Em Nike Revolution 6 Nn Jp (Psv) - Đen
                </h2>
                <p class="code-item mt-5">
                    GCCLNKBK-001
                </p>
                <p class="item-price mt-5">
                    974.400 đ
                </p>
            </div>
        </a>

        <a class="product-item ml-40 mb-20">
            <div class="product-item-img">
                <img class="item--img" src="img/products/001/GCNKBK-001/GCNKBK-001-1.webp" alt="">
            </div>
            <div class="product-item-content">
                <h2 class="item-name mt-5">
                    Giày Chạy Bộ Trẻ Em Nike Revolution 6 Nn Jp (Psv) - Đen
                </h2>
                <p class="code-item mt-5">
                    GCCLNKBK-001
                </p>
                <p class="item-price mt-5">
                    974.400 đ
                </p>
            </div>
        </a>

        <a class="product-item ml-40 mb-20">
            <div class="product-item-img">
                <img class="item--img" src="img/products/001/GCNKBK-001/GCNKBK-001-1.webp" alt="">
            </div>
            <div class="product-item-content">
                <h2 class="item-name mt-5">
                    Giày Chạy Bộ Trẻ Em Nike Revolution 6 Nn Jp (Psv) - Đen
                </h2>
                <p class="code-item mt-5">
                    GCCLNKBK-001
                </p>
                <p class="item-price mt-5">
                    974.400 đ
                </p>
            </div>
        </a>

        <a class="product-item ml-40 mb-20">
            <div class="product-item-img">
                <img class="item--img" src="img/products/001/GCNKBK-001/GCNKBK-001-1.webp" alt="">
            </div>
            <div class="product-item-content">
                <h2 class="item-name mt-5">
                    Giày Chạy Bộ Trẻ Em Nike Revolution 6 Nn Jp (Psv) - Đen
                </h2>
                <p class="code-item mt-5">
                    GCCLNKBK-001
                </p>
                <p class="item-price mt-5">
                    974.400 đ
                </p>
            </div>
        </a>

        <a class="product-item ml-40 mb-20">
            <div class="product-item-img">
                <img class="item--img" src="img/products/001/GCNKBK-001/GCNKBK-001-1.webp" alt="">
            </div>
            <div class="product-item-content">
                <h2 class="item-name mt-5">
                    Giày Chạy Bộ Trẻ Em Nike Revolution 6 Nn Jp (Psv) - Đen
                </h2>
                <p class="code-item mt-5">
                    GCCLNKBK-001
                </p>
                <p class="item-price mt-5">
                    974.400 đ
                </p>
            </div>
        </a>

        <a class="product-item ml-40 mb-20">
            <div class="product-item-img">
                <img class="item--img" src="img/products/001/GCNKBK-001/GCNKBK-001-1.webp" alt="">
            </div>
            <div class="product-item-content">
                <h2 class="item-name mt-5">
                    Giày Chạy Bộ Trẻ Em Nike Revolution 6 Nn Jp (Psv) - Đen
                </h2>
                <p class="code-item mt-5">
                    GCCLNKBK-001
                </p>
                <p class="item-price mt-5">
                    974.400 đ
                </p>
            </div>
        </a>

        <a class="product-item ml-40 mb-20">
            <div class="product-item-img">
                <img class="item--img" src="img/products/001/GCNKBK-001/GCNKBK-001-1.webp" alt="">
            </div>
            <div class="product-item-content">
                <h2 class="item-name mt-5">
                    Giày Chạy Bộ Trẻ Em Nike Revolution 6 Nn Jp (Psv) - Đen
                </h2>
                <p class="code-item mt-5">
                    GCCLNKBK-001
                </p>
                <p class="item-price mt-5">
                    974.400 đ
                </p>
            </div>
        </a>

        <a class="product-item ml-40 mb-20">
            <div class="product-item-img">
                <img class="item--img" src="img/products/001/GCNKBK-001/GCNKBK-001-1.webp" alt="">
            </div>
            <div class="product-item-content">
                <h2 class="item-name mt-5">
                    Giày Chạy Bộ Trẻ Em Nike Revolution 6 Nn Jp (Psv) - Đen
                </h2>
                <p class="code-item mt-5">
                    GCCLNKBK-001
                </p>
                <p class="item-price mt-5">
                    974.400 đ
                </p>
            </div>
        </a>
    </div>

    <div class="modal-product fixed top-0 bottom-0 start-0 end-0">
        <div class="modal-product-wrapper white absolute left-50 top-50">
            <div class="modal-product-list container grid mt-20 mb-20">
                <div class="modal-product-list-img">
                    <img class="modal-product-img" src="img/products/001/GCNKBK-001/GCNKBK-001-1.webp" alt="">
                </div>
                <div class="modal-product-content grid">
                    <h2 class="modal-product-name mt-5">
                        Giày Chạy Bộ Trẻ Em Nike Revolution 6 Nn Jp (Psv) - Đen
                    </h2>
                    <p class="modal-product-code mt-5">
                        GCCLNKBK-001
                    </p>
                    <p class="modal-product-price mt-5">
                        974.400 đ
                    </p>
                    <div class="modal-product-size mb-20">
                        <p class="modal-product-size-text">kích thước:</p>
                        <label class="modal-product-size-lable p-5 pointer" for="">43</label>
                        <label class="modal-product-size-lable p-5 pointer" for="">44</label>
                        <label class="modal-product-size-lable p-5 pointer" for="">45</label>
                    </div>
                    <div class="modal-product-color-list">
                        <p class="modal-product-color-text">màu sắc:</p>
                        <img class="modal-product-color-img m-5" src="img/products/002/GCNKBE-002/GCNKBE-002-1.webp"
                            alt="">
                        <img class="modal-product-color-img m-5" src="img/products/002/GCNKPK-002/GCNKPK-002-1.webp"
                            alt="">
                    </div>
                    <div class="modal-product-quality-list">
                        <p class="modal-product-quality-text">số lượng:</p>
                        <div class="quantity">
                            <a href="#" class="minus">-</a>
                            <input type="text" id="quantity_66347ead89ae4" class="quality-input" name="quantity"
                                value="1" size="4" min="1" max="119" step="1" placeholder="" inputmode="numeric">
                            <a href="#" class="plus">+</a>
                        </div>
                    </div>
                    <button class="modal-product-btn pointer">thêm vào giỏ hàng</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/products.js"></script>