<div class="slider slider-js relative container pt-20 pb-20">
    <span class="arrow-left absolute top-50">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
            <circle cx="15" cy="15" r="15" fill="#ffffff" />
            <polygon class="prev" points="6 15 15 6 15 9 18 9 18 21 15 21 15 24" fill="#000000" />
        </svg>
    </span>
    <img class="slider--img img-js" src="img/slider/puma.webp" alt="">
    <img class="slider--img img-js" src="img/slider/adidas.webp" alt="">
    <img class="slider--img img-js" src="img/slider/nike.webp" alt="">
    <span class="arrow-right absolute top-50">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
            <circle cx="15" cy="15" r="15" fill="#ffffff" />
            <polygon class="next" points="23.5 15 15 6 15 9 12 9 12 21 15 21 15 24" fill="#000000" />
        </svg>
    </span>
</div>

<script src="js/slider.js"></script>